.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #005eb8 0%, #00a651 100%);
}

.card {
    min-width: 350px;
    max-width: 400px;
    margin: 0 auto;
}

.card-title {
    text-align: center;
    margin-bottom: 2rem;
}
